
*{
  margin:0;
  padding:0;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Pretendard';
}
img{
  vertical-align: middle;
}
ul,li,ol,dl,dt,dd{
  list-style: none;
}

a{
  color:#222;
  text-decoration: none;
}

.ck-toolbar__items{
  width: 100% !important;
  height: 50px !important;

}
.ck-editor__editable_inline{
  min-height: 400px;
}

